<h6 class="text-uppercase c-gray-1 medium mb-15"><%= article.created_by %></h6>
<a href="<%= article_path(article.resource.slug) %>"><h4 class="medium mb-15 c-white"><%= article.title %></h4></a>
<h5 class="regular c-gray-1">
  <% if article.description.to_s.length < 120 %>
    <%= article.description.to_s %>
  <% else %>
    <%= article.description.to_s[0, 120] %>...
  <% end %>
</h5>
