<% title @user.name %>

<section class="detail mt-50 fade-in">

  <div class="text-center">
    <img class="br-circle transition mb-20" src="<%= @user.image %>"/>
    <h4 class="mb-30 c-white">
      <% if @user.twitter_url %>
        <a href="https://twitter.com/<%= @user.name %>">@<%= @user.name %></a>
      <% else %>
        <%= @user.name %>
      <% end %>
    </h4>
    <p class="c-white"><%= @user.description %></p>
  </div>

  <div class="user-submissions">
    <h3 class="c-white mt-50 mb-50">
      <% if @user == current_user %>
        My
      <% else %>
        <%= @user.name %>'s
      <% end %>
      submissions
    </h3>
    <% if @resources.any? %>
      <%= render partial: 'resources/list', locals: { resources: @resources } %>
    <% else %>
      <% if @user == current_user %>
        <p class="c-white">No resources submitted.</p>
        <%= link_to 'Submit Resource', new_resource_path, class: 'btn btn btn-rect-lg push-button btn-secondary' %>s
      <% else %>
        <p class="c-white">No resources submitted yet.</p>
      <% end %>
    <% end %>
  </div>


</section>
