<div data-controller="navbar">
  <nav id="w1" class="navbar navbar-expand-lg fixed-top navbar-light bg-black d-flex">
    <div class="container-fluid full">
      <% if @display_back_button %>
        <%= link_to :back, class: 'medium c-white back-button' do %>
          <%= image_tag 'back.svg' %>
          Back
        <% end %>
      <% else %>
        <a href="/" class="navbar-brand">
          <%= image_tag 'logo.svg' %>
          <span class="logotype">bitcoiners.best</span>
        </a>
      <% end %>
      <button class="icon-wrap js-controller--nav js-btn -btn mobile-show" data-action="navbar#open">
         <span class="icon icon-svg icon-list">
            <svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0" y="0" viewBox="0 0 24 18" xml:space="preserve">
               <rect width="20" height="2"></rect>
               <rect y="8" width="20" height="2"></rect>
            </svg>
         </span>
      </button>
      <div id="w1-collapse" class="collapse navbar-collapse">
        <ul id="w2" class="navbar-nav navbar-right flex-grow-1 justify-content-end nav">
          <%= navbar_link(donations_path, 'Donations') %>
          <%= navbar_link(vote_path, 'Vote') %>
          <%= navbar_link(faq_path, 'FAQ') %>
          <%= navbar_link(new_resource_path, 'Submit') %>
          <% unless current_user %>
            <%= navbar_link(new_user_session_path, 'Login') %>
            <%= navbar_link(new_user_registration_path, 'Join') %>
          <% end %>
          <% if current_user %>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img class="profile-picture br-circle transition" src="<%= current_user.image %>"/>
                  <% if @resources_pending_approval.to_i > 0 %>
                    <span class="badge badge-primary"><%= @resources_pending_approval %></span>
                  <% end %>
                </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="<%= user_profile_path %>">Profile</a>
                  <% if current_user.try(:admin?) %>
                  <a class="dropdown-item" href="<%= admin_resources_path %>">Admin</a>
                  <a class="dropdown-item" href="<%= new_admin_donation_path %>">New Donation</a>
                  <% end %>
                  <% if @resources_pending_approval.to_i > 0 %>
                    <a class="dropdown-item" href="<%= admin_resources_path(search: 'pending_approval:') %>">
                      <%= pluralize(@resources_pending_approval, 'resource') %>
                    </a>
                  <% end %>
                  <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>

  <nav id="mobile--menu--nav" class="menu-nav js-menu-nav screen wrapper is-hoverable is-cover is-cover--moment is-menu-open is-clipped" data-target="navbar.mobileMenu">
      <nav id="w1" class="navbar navbar-expand-lg fixed-top navbar-light d-flex">
          <div class="container-fluid full">
              <a href="/" class="navbar-brand active router-link-active">
                <%= image_tag 'logo.svg' %>
                <span class="logotype">bitcoiners.best</span></a>
              <button id="close-btn--nav" class="icon-wrap js-controller--nav js-btn -btn mobile-show" data-action='navbar#close'><span class="icon icon-svg a a-link close-btn rounded"></span></button>
          </div>
      </nav>
      <div class="screen__wrap">
          <div class="container-fluid full">
              <div class="menu-nav__col">
                  <ul class="menu-nav__ul menu-nav__ul--">
                      <li class="menu-nav__li"><a href="<%= faq_path %>" class="a-h -ss-01"><h2>FAQ</h2></a></li>
                      <li class="menu-nav__li"><a href="<%= new_resource_path %>" class="a-h -ss-01"><h2>Submit</h2></a></li>
                      <% if current_user.try(:admin?) %>
                      <li class="menu-nav__li"><a href="<%= admin_resources_path %>" class="a-h -ss-01"><h2>Admin</h2></a></li>
                      <% end %>
                      <% if current_user %>
                        <li class="menu-nav__li nav-item align-self-center"><a href="<%= user_profile_path %>" class="a-h -ss-01"><img class="profile-picture br-circle transition" src="<%= current_user.image %>"/></a></li>
                        <li class="menu-nav__li"><a href="<%= destroy_user_session_path %>" rel="nofollow" data-method="delete" class="a-h -ss-01"><h2>Logout</h2></a></li>
                      <% end %>
                  </ul>
                  <% unless current_user %>
                    <ul class="menu-nav__ul menu-nav__ul--">
                        <li class="menu-nav__li"><a href="<%= new_user_session_path %>" class="a-h -ss-01"><h2>Login</h2></a></li>
                        <li class="menu-nav__li"><a href="<%= new_user_registration_path %>" class="a-h -ss-01"><h2>Join</h2></a></li>
                    </ul>
                  <% end %>
              </div>
          </div>
      </div>
  </nav>
</div>
