<h4 class="c-gray-1 medium mb-20"><%= donation.period %></h4>
<div class="d-flex br-4 mb-50 fade-in resource">
  <div class="pr-20">
    <%if donation.project.image.attached? %>
      <% if !donation.project.image.variable? %>
        <%= image_tag donation.project.image, class: 'ew-100 card-img' %>
      <% else %>
        <%= image_tag donation.project.image.variant(resize_to_limit: [100, 100]), class: 'ew-100 card-img' %>
      <% end %>
    <% else %>
      <img class='ew-100 card-img' src="" %>
    <% end %>
  </div>
  <div class="flex-grow-1 align-self-center call-render">
    <%= render donation.project %>
  </div>
  <div class="align-self-top pl-20">
    <div class="vote-total" id="vote-total">
      <h6 class="medium mt-10 c-gray-1"><%= nice_sats_number donation.amount_donated %> donated</h6>
    </div>
  </div>
</div>
