<% title @resource.title %>
<% set_meta_tags 'og:title' => @resource.title %>
<%- if @resource.resourceable.respond_to?(:description) %>
  <% set_meta_tags 'og:description' => @resource.description %>
<% end %>
<%- if @resource.resourceable.respond_to?(:image) && @resource.resourceable.image.attached? %>
  <% set_meta_tags 'og:image' => rails_blob_url(@resource.image, disposition: "inline") %>
<% end %>
<section class="detail mt-50 fade-in" v-cloak>
   <div class="section-header pb-20 c-white text-center">
     <%= render partial: 'resources/pending_approval' if !@resource.approved %>

    <h1 class="mt-30 mb-30 c-white"><%= @resource.title %></h1>

    <%- if @resource.resourceable.respond_to?(:image) && @resource.image.attached? %>
      <% if donation.project.image.variable? %>
        <%= image_tag @resource.image, class: 'ew-100 card-img' %>
      <% else %>
        <%= image_tag @resource.image.variant(resize_to_limit: [640, 640]), class: 'ew-100 card-img' %>
      <% end %>
    <% end %>

    <% if @resource.resourceable.respond_to?(:description) %>
        <p class="regular c-gray-1 mb-30 mt-30"><%= @resource.description %></p>
    <% end %>

    <% if @resource.authors.any? %>
      <p class="regular c-gray-1 mb-30">
        Created by
        <span class="c-white"><%= @resource.authors.join(', ') %></span>
      </p>
    <% end %>

    <p class="regular c-gray-1 mb-30">Submitted <%= distance_of_time_in_words_to_now(@resource.created_at) %> ago</p>
    <p class="mt-30 mb-30"><a target="_blank" class="link" href="<%= @resource.url %>">View Original Source</a></p>
  </div>
 </section>
