<% title @resource.title %>
<% set_meta_tags 'og:title' => @resource.title %>
<%- if @resource.resourceable.respond_to?(:description) %>
  <% set_meta_tags 'og:description' => @resource.description %>
<% end %>
<%- if @resource.resourceable.respond_to?(:image) && @resource.resourceable.image.attached? %>
  <% set_meta_tags 'og:image' => rails_blob_url(@resource.image, disposition: "inline") %>
<% end %>

<section class="detail mt-50 fade-in">
  <div class="section-header pb-20 c-white text-center">
    <%= render partial: 'resources/pending_approval' if !@resource.approved %>

    <div class="row mt-30">
      <div class="col-11">
        <h1 class="mb-30 c-white"><%= @resource.title %></h1>

        <div style="margin: auto; max-width: 500px;" class="mb-30 mt-30">
          <blockquote class="twitter-tweet" data-theme="dark"><a href="<%= @resource.url %>"></a></blockquote>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      </div>

      <div class="col-1">
        <%= render partial: 'resources/votes', locals: { resource: @resource } %>
      </div>
    </div>

    <p class="regular c-gray-1 mb-30">
      Submitted <%= distance_of_time_in_words_to_now(@resource.created_at) %> ago by
      <%= link_to @resource.created_by.name, @resource.created_by, class: 'c-white' %>
    </p>

    <p class="mt-30 mb-30"><a target="_blank" class="medium" href="<%= @resource.url %>">View Original Source</a></p>

   </div>
 </section>
