<section class="detail mt-50 fade-in" v-cloak>
   <div class="section-header pt-20 pb-20 c-white text-center">
    <p><%= @resource.slug %></p>
    <h1><%= @resource.title %></h1>

    <%- if @resource.resourceable.respond_to?(:image) && @resource.image.attached? %>
      <p><%= image_tag @resource.image %></p>
    <% end %>

    <div style="margin: auto; max-width: 500px;">
      <blockquote class="twitter-tweet" data-theme="dark"><a href="<%= @resource.url %>"></a></blockquote>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>

      <a target="_blank" class="c-white" href="<%= @resource.url %>">Open Original Source</a>
      <p class="c-white">Submitted <%= distance_of_time_in_words_to_now(@resource.created_at) %> ago</p>
   </div>
 </section>
