<%= form_for(resource, url: resources_path(resource_type: resource.resourceable_type, resource_id: resource.id), local: true, id: 'submit-resource') do |form| %>
  <%= form.hidden_field :resourceable_type %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
        <% resource.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :resourceable do |form| %>

    <div class="form-group">
      <%= form.label :title, 'Project Title', class: 'd-block' %>
      <%= form.text_field :title, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= form.label :url, 'Project URL', class: 'd-block' %>
      <%= form.text_field :url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :description, 'Project Description', class: 'd-block' %>
      <%= form.text_area :description, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :description, 'Project Image', class: 'd-block' %>
      <%= form.file_field :image, class: 'form-control' %>
    </div>
  <%- end %>

  <div class="actions">
    <%= form.submit 'Submit Project', class: 'btn btn btn-rect-lg push-button btn-secondary' %>
  </div>
<% end %>
