<%= form_for(resource, url: resources_path(resource_type: resource.resourceable_type, resource_id: resource.id), remote: true, id: 'submit-resource') do |form| %>
  <%= form.hidden_field :resourceable_type %>
  <%= form.fields_for :resourceable do |form| %>

    <div class="form-group">
      <%= form.label :url, 'Episode URL', class: 'd-block' %>
      <%= form.text_field :url, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label :title, 'Episode Title', class: 'd-block' %>
      <%= form.text_field :title, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label 'Podcast Created By', class: 'd-block' %>
      <%= form.text_field :created_by, class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= form.label 'Podcast Name', class: 'd-block' %>
      <%= form.text_field :podcast, class: 'form-control' %>
    </div>

    <%= render partial: 'form_field_image_or_image_url', locals: { form: form } %>

  <%- end %>

  <div class="actions">
    <%= form.submit 'Submit', class: 'btn btn btn-rect-lg push-button btn-secondary' %>
  </div>
<% end %>
