<div class="resources-container" data-controller="infinity-scroll">
  <% resources.each do |resource| %>
    <div class="<%= resource.resourceable_type %>-module d-flex br-4 mb-40 resource" id="resource-<%= resource.id %>" data-vote-count="<%= resource.vote_count %>">

      <div class="d-flex flex-sm-row flex-column">
        <div class="pr-30 mobile-resource-image">
          <%if resource.resourceable.respond_to?(:image) && resource.resourceable.image.attached? %>
            <% if !resource.image.variable? %>
              <%= image_tag resource.image, class: resource_list_image_class(resource) %>
            <% else %>
              <%= image_tag resource.image.variant(resize_to_limit: [300, 300]), class: resource_list_image_class(resource) %>
            <% end %>
          <% else %>
            <img class='ew-100 card-img' src="" %>
          <% end %>
        </div>

        <div class="flex-grow-1 call-render resource-content">
          <%= render resource.resourceable %>
        </div>
      </div>

      <%= render partial: 'resources/votes', locals: { resource: resource } %>
    </div>
  <% end %>
</div>

<% if resources.any? %>
  <div id="infinite-scrolling">
    <%= will_paginate resources %>
  </div>
<% end %>

<div class="page-load-status">
  <div class="loader-ellips infinite-scroll-request fade-in">
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
    <span class="loader-ellips__dot"></span>
  </div>
</div>
