<% if params[:type] && Resource::CATEGORIES[params[:type].to_sym] %>
  <% title Resource::CATEGORIES[params[:type].to_sym].pluralize %>
<% end %>
<p id="notice"><%= notice %></p>

<div class="container-fluid full">
  <div class="scrolling-wrapper fade-in">
    <div class="section-selector">
      <div class="d-flex justify-content-center text-uppercase">
        <% Resource::CATEGORIES.each do |name, display| %>
          <a href="/<%= name.to_s.pluralize %>" class="module-navigation-element <%= params[:type] == name.to_s ? 'active router-link-active' : '' %>"><%= display.pluralize %></a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%= render partial: 'list', locals: { resources: @resources } %>
