<% content_for :top_level_content do %>
  <div class="container-fluid full">
    <div class="scrolling-wrapper fade-in">
      <div class="section-selector">
        <div class="d-flex justify-content-between text-uppercase">
          <div>
            <%= resource_navbar_link('This month', category: params[:type], time_scope: nil) %>
            <%= resource_navbar_link('All time', category: params[:type], time_scope: 'all') %>
          </div>
          <div>
            <%= resource_navbar_link('All', category: nil, time_scope: params[:time_scope]) %>
            <% Resource::CATEGORIES.except(:project).each do |name, display| %>
              <%= resource_navbar_link(resource_category_name(name), category: name, time_scope: params[:time_scope]) %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%= render partial: 'list', locals: { resources: @resources } %>
