<% title 'Submit Resource' %>

<section class="submit-resource mt-50 fade-in new-resource">
  <div class="section-header pb-20 text-center">
    <h1 class="mb-0 c-white">
      Submit your bitcoin resource
    </h1>
    <p class="mt-10 c-gray-1">Your submission will be reviewed before it appears live.</p>
  </div>

  <div id="error_explanation" class="c-white alert mb-50 p-30 <%= (@resource && @resource.errors.any?) ? '' : 'is-hidden' %>">
    <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end if @resource %>
    </ul>
  </div>

  <div data-controller="resource-type-selector" data-target='resource-type-selector.container' class="<%= params[:type] %>">
    <select class="form-control select-resource mb-20 medium" data-action='change->resource-type-selector#selected' data-target='resource-type-selector.select'>
      <%=
        options_for_select(
          ['Select Resource']+Resource::CATEGORIES.map{|c,d| [d,c]},
          selected: params[:type] || 'Select Resource',
          disabled: 'Select Resource'
        ) %>
    </select>

    <%- Resource::CATEGORIES.each do |category, display| %>
      <div id="<%= category %>" class="category fade-in">
        <%= render "form_#{category.to_s}", resource: @resources[category] %>
      </div>
    <%- end %>
  </div>
</section>
