<% title @resource.title %>
<% set_meta_tags 'og:title' => @resource.title %>
<%- if @resource.resourceable.respond_to?(:description) %>
  <% set_meta_tags 'og:description' => @resource.description %>
<% end %>
<%- if @resource.resourceable.respond_to?(:image) && @resource.resourceable.image.attached? %>
  <% set_meta_tags 'og:image' => rails_blob_url(@resource.image, disposition: "inline") %>
<% end %>
<section class="detail mt-50 fade-in">
   <div class="section-header pb-20 c-white text-center">
    <%= render partial: 'resources/pending_approval' if !@resource.approved %>

    <%- if @resource.resourceable.respond_to?(:image) && @resource.image.attached? %>
    <%= image_tag @resource.image.variant(resize_to_limit: [640, 640]), class: 'img-fluid' %>
    <% end %>

    <h1 class="mt-30 mb-30 c-white"><%= @resource.title %></h1>

    <% if @resource.resourceable.respond_to?(:description) %>
        <p class="regular c-gray-1 mb-30 mt-30"><%= @resource.description %></p>
    <% end %>

    <p class="regular c-gray-1 mb-30">Submitted <span class="c-white"><%= distance_of_time_in_words_to_now(@resource.created_at) %> ago</span></p>

    <p class="mt-30 mb-30"><a target="_blank" class="link" href="<%= @resource.url %>">View Original Source<svg class="ml-10" width="14" height="14" viewBox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M7.96507 3.55805L1.73694 9.70591C1.33959 10.098 0.695365 10.098 0.298013 9.70591C-0.0993378 9.31364 -0.0993378 8.67772 0.298013 8.28549L6.65681 2.00871H1.41508C0.853153 2.00871 0.397614 1.55904 0.397614 1.00435C0.397614 0.449664 0.853153 0 1.41508 0H10V8.36961C10 8.9243 9.54449 9.37397 8.98255 9.37397C8.42061 9.37397 7.96507 8.9243 7.96507 8.36961V3.55805Z" fill="white"/>
    </svg></a></p>

    <svg width="16" height="13" viewBox="0 0 16 13" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0.203534 7.11373L5.7491 12.7489C6.08519 13.0837 6.58933 13.0837 6.86941 12.7489C7.20551 12.4142 7.20551 11.912 6.86941 11.5772L2.66823 7.3369H15.2158C15.6639 7.3369 16 6.94634 16 6.49999C16 6.05364 15.6639 5.66308 15.2158 5.66308H2.72425L6.92543 1.42273C7.26153 1.08797 7.26153 0.585837 6.92543 0.251073C6.58934 -0.083691 6.08519 -0.083691 5.80512 0.251073L0.259553 5.88625C-0.0765419 6.27681 -0.0765453 6.83476 0.203534 7.11373V7.11373Z" fill="white"/>
    </svg>
    <%= link_to 'Back', :back, class: 'c-white' %>



   </div>
 </section>



   <!--
   ITERATION #2
   <section class="detail mt-50 fade-in">
      <div class="section-header pb-20 c-white text-left">

   <div class="row">
       <div class="col-5 text-center">
       <img class="img-fluid" src="https://bitcoiners.best/rails/active_storage/representations/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaHBMUT09IiwiZXhwIjpudWxsLCJwdXIiOiJibG9iX2lkIn19--4c86c04dde5cc6d10d0bdf1c527281f20176247d/eyJfcmFpbHMiOnsibWVzc2FnZSI6IkJBaDdCam9VY21WemFYcGxYM1J2WDJ4cGJXbDBXd2RwQW9BQ2FRS0FBZz09IiwiZXhwIjpudWxsLCJwdXIiOiJ2YXJpYXRpb24ifX0=--76d021250a4c83374c7e267d2ba483f687afac11/______1_01nG9TGRFba6rSER7xIOEw.jpeg">
       </div>
       <div class="col-5">
       <h1 class="mb-30 c-white">Efficient Market Hypothesis and Bitcoin Stock-to-Flow Model</h1>

           <p class="regular c-gray-1 mb-30 mt-30">Bitcoin Stock-to-Flow (S2F) model was published in March 2019 [1]. The model has been well received by bitcoiners and investors. Many analysts have verified the cointegrated S2F model and confirmed bitcoin price forecasts.</p>

       <p class="regular c-gray-1 mb-30">Submitted 7 days ago</p>

       <p class="mt-30 mb-30"><a target="_blank" class="link" href="https://medium.com/@100trillionUSD/efficient-market-hypothesis-and-bitcoin-stock-to-flow-model-db17f40e6107">View Original Source</a></p>
       <a class="c-white" href="https://bitcoiners.best/articles">Back</a>
       </div>
       <div class="col-2">
       </div>
      </div></div>
    </section> -->
