<p id="notice"><%= notice %></p>

<p>
  <strong>Url:</strong>
  <%= @resource.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @resource.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @resource.description %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @resource.created_by %>
</p>

<p>
  <strong>Rss:</strong>
  <%= @resource.rss %>
</p>
