<!DOCTYPE html>
<html>
  <head>
    <%=
      display_meta_tags(
        site: 'Bitcoiners.best',
        reverse: true,
        og: {
          title: (@page_title ? "#{@page_title} | Bitcoiners.best" : :site),
          site_name: :site,
          description: :description,
          image: (@page_image || image_url('bb-cover.png'))
        }
      )
    %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="theme-color" content="#FFCF53" />
    <meta name="msapplication-navbutton-color" content="#FFCF53">
    <meta name="apple-mobile-web-app-status-bar-style" content="#FFCF53">

    <link rel="me" href="https://twitter.com/bitcoinersbest">
    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta name="twitter:site" content="@bitcoinersbest"></meta>
    <meta name="twitter:creator" content="@bitcoinersbest" />

    <link rel="apple-touch-icon" sizes="57x57" href="../favicons/apple-icon-57x57.png"/>
    <link rel="apple-touch-icon" sizes="60x60" href="../favicons/apple-icon-60x60.png"/>
    <link rel="apple-touch-icon" sizes="72x72" href="../favicons/apple-icon-72x72.png"/>
    <link rel="apple-touch-icon" sizes="76x76" href="../favicons/apple-icon-76x76.png"/>
    <link rel="apple-touch-icon" sizes="114x114" href="../favicons/apple-icon-114x114.png"/>
    <link rel="apple-touch-icon" sizes="120x120" href="../favicons/apple-icon-120x120.png"/>
    <link rel="apple-touch-icon" sizes="144x144" href="../favicons/apple-icon-144x144.png"/>
    <link rel="apple-touch-icon" sizes="152x152" href="../favicons/apple-icon-152x152.png"/>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicons/apple-icon-180x180.png"/>
    <link rel="icon" type="image/png" sizes="16x16" href="../favicons/favicon-16x16.png"/>
    <link rel="icon" type="image/png" sizes="32x32" href="../favicons/favicon-32x32.png"/>
    <link rel="icon" type="image/png" sizes="96x96" href="../favicons/favicon-96x96.png"/>
    <link rel="icon" type="image/png" sizes="192x192" href="../favicons/android-icon-192x192.png"/>
    <link rel="shortcut icon" href="../favicons/favicon.ico"/>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/lnpay-js@^0.1/dist/lnpay.min.js"></script>
  </head>

  <body class="<%= current_user ? 'signed-in' : '' %>" data-lnpay-key="<%= Rails.application.credentials.dig(:lnpay, :key) %>">
    <%= render partial: 'shared/navbar' %>
    <div class="wrap">
      <%= yield :top_level_content %>
      <div class="container-fluid">
        <%= render partial: 'shared/flashes' %>
        <%= yield %>
      </div>
      <%= render partial: 'shared/footer' %>
    </div>

    <%= render partial: 'shared/invoice_modal' %>
    <% if ! current_user %>
      <%= render partial: 'shared/signin_modal' %>
    <% end %>
  </body>
</html>
